:root {
    --max-width:600px;
    background-color:#330b57;
}
.footer {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff;
}
.footer_copyright{
    font-size: 1rem;
    text-align: center;
    max-width: var(--max-width);
    display: block;
}
html{
    font-size:100%;
}
body{
    font-size: 1rem;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* border: 10px solid red; */
    padding: 2rem;
    background-color:#ffffff;
}
.container_svg {
    width: 100%;
    position: relative;
}
.gifs{
  position: absolute;
  margin-left: 10.5rem;
  margin-top: 11rem;
  width: 12.5rem;
  height: 12rem;
}
*{
    box-sizing: border-box;
}
.container_Title{
    text-align:center;
    font-size: 1.8rem;
    line-height: 1.2rem;
    color: rgb(35, 17, 102);
}
.container_HowToUse{
    text-align:left;
    font-size: 1.8rem;
    line-height: 1.2rem;
    color: rgb(35, 17, 102);
}
.list{

}
.list_listItem{
    display: list-item;
    font: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.list_listItemInner {
    list-style-type: square;
    display: list-item;
    font: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.button:hover {
  filter: sepia(1) saturate(18.6) hue-rotate(255.6deg) brightness(1.2)
}

.action_invisible {
opacity: 0.2;
}
.action_visible {
opacity: 1.0;
}
.state_invisible {
opacity: 0.2;
}
.state_visible {
opacity: 1.0;
}

.server_message_invisible {     
visibility: hidden;
opacity: 0;
font-size: 37.5px;
fill: #3d33cd;
font-family: Ubuntu;
width: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 20px;
transition: visibility 0s 2s, opacity 2s linear;
}

.server_message_visible{
font-size: 37.5px;
fill: #3d33cd;
font-family: Ubuntu;
width: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 20px;

animation:signup-response 0.5s 1;
-webkit-animation:signup-response 0.5s 1;
animation-fill-mode: forwards;

animation-delay:2s;
-webkit-animation-delay:1s; /* Safari and Chrome */
-webkit-animation-fill-mode: forwards;
} 

@keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

#tooltip {
    background: rgb(255, 255, 255);
    border: 3px solid rgb(247, 69, 217);
    border-radius: 25px;
    padding: 5px;
}
