<html lang="en">
  <body>
    <head>
      <link rel="stylesheet" href="/css/signin.css" />
    </head>
    <header>
      <title></title>
    </header>
    <div class="login-box">
      <h2>Register</h2>
      <% if ( duplicate_email_error ) { %>
      <div class="flash-error"><%= duplicate_email_error %></div>
      <% } %>
      <br />
      <form
        id="submit"
        autocomplete="off"
        action="/auth/register"
        method="POST"
      >
        <div class="user-box">
          <input type="text" name="email" required="" />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" />
          <label>Password</label>
        </div>
        <a
          href="#"
          aria-label="Click link to submit registration."
          onclick="document.getElementById('submit').submit();"
        >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
      <div class="user-box">
        <br />
        <br />
        <div class="bottom-text">Return to login: <a href="/"> Login</a></div>
      </div>
    </div>
  </body>
</html>
